body{
    background-image: url('/myWebsite/Images/wallpaper.jpeg');
    background-repeat:  no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;


}   
